* {
  font-family: "Roboto", sans-serif;
  color: #588157;
}
body{
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%); 
}
/* Design do header */
header {
  font-size: 0.87rem;
}
/* Design do Form */
fieldset {
  border: 2px solid #dad7cd;
  border-radius: 8px;
}
legend {
  font-size: 1.1rem;
}
.Input_Area {
  border: 2px solid #dad7cd;
  border-radius: 8px;
  transition-duration: .2s;
}
.Input_Area:focus, .Input_Area:valid:hover{
  padding: 5px 5px;
  background-color: #D0FEFE;
  margin-top: 2px;
}
.Seventy_Part{
  display: inline-block;
}
input::placeholder{
  font-size: 0.71rem;
}
.Seventy_Part{
  margin-top: 10px;
  width: 90%;
  text-align: center;
}
.Seventy_Part:hover{
  background-color: #0a9396;  
}
button{
  background: none;
  border: none;
  font-size: 1.5rem;
}
button:hover{
  color: black;
}
textarea {
  resize: none;
}


