body{
  width: 100vw;
  height: 100vh;
}
/* Layout macro da página com flex */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  margin-bottom: 15px;
  padding: 0 20px;
}
.fieldset{
  padding: 20px;
  height: 77vh;
}
.Layout{
  padding: 16px;
}
.Sixty_Part{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.About_You{
  margin-bottom: 15px;
}









